### Add a field as a median value of a group
Here the value is the substraction of two other fields. So the simplest version is only for a single field not the substraction of two.

In [14]:
import pandas as pd
import numpy as np

def add_median_field(df, group_field, field_start, field_end, new_field_name):
    df[new_field_name] = df[field_end] - df[field_start]
    b = df.groupby(group_field)[new_field_name].median().reset_index()
    b = b.rename(columns = {new_field_name: new_field_name+'_median'})
    print(b.head())
    df.drop([new_field_name], axis=1, inplace=True)
    return pd.merge(df, b, on=group_field, how='left')	

def add_mean_field(df, group_field, field_start, field_end, new_field_name):
    df[new_field_name] = df[field_end] - df[field_start]
    b = df.groupby(group_field)[new_field_name].mean().reset_index()
    b = b.rename(columns = {new_field_name: new_field_name+'_mean'})
    df.drop([new_field_name], axis=1, inplace=True)
    return pd.merge(df, b, on=group_field, how='left')	

def add_aggregator_field(df, group_field, field_start, field_end, new_field_name, aggregator_operation: str):
    df[new_field_name] = df[field_end] - df[field_start]
    b = df.groupby(group_field)[new_field_name]
    op = getattr(b, aggregator_operation)
    b = op().reset_index()
    b.rename(columns = {new_field_name: new_field_name+'_'+aggregator_operation}, inplace=True)
    df.drop([new_field_name], axis=1, inplace=True)
    return pd.merge(df, b, on=group_field, how='left')

x1 = np.array([[1,2,3],[1,4,9],[1,4,94],[11,22,33], [111,222,333]])
X1 = pd.DataFrame(data=x1, columns=['bidder_id', 'start', 'end'])
print(X1.head())
X1 = add_median_field(X1, 'bidder_id', 'start', 'end', 'new')
print(X1.head())
X1 = add_mean_field(X1, 'bidder_id', 'start', 'end', 'new')
print(X1.head())
X1 = add_aggregator_field(X1, 'bidder_id', 'start', 'end', 'new2', 'mean')
print(X1.head())
X1 = add_aggregator_field(X1, 'bidder_id', 'start', 'end', 'new2', 'median')
print(X1.head())
X1 = add_aggregator_field(X1, 'bidder_id', 'start', 'end', 'new2', 'std')
print(X1.head())
X1['some_new'] = X1.groupby('bidder_id')['start'].mean()
print(X1.head())

   bidder_id  start  end
0          1      2    3
1          1      4    9
2          1      4   94
3         11     22   33
4        111    222  333
   bidder_id  new_median
0          1           5
1         11          11
2        111         111
   bidder_id  start  end  new_median
0          1      2    3           5
1          1      4    9           5
2          1      4   94           5
3         11     22   33          11
4        111    222  333         111
   bidder_id  start  end  new_median  new_mean
0          1      2    3           5        32
1          1      4    9           5        32
2          1      4   94           5        32
3         11     22   33          11        11
4        111    222  333         111       111
   bidder_id  start  end  new_median  new_mean  new2_mean
0          1      2    3           5        32         32
1          1      4    9           5        32         32
2          1      4   94           5        32         32
3         11     22   33          11        11         11
4        111    222  333         111       111        111
   bidder_id  start  end  new_median  new_mean  new2_mean  new2_median
0          1      2    3           5        32         32            5
1          1      4    9           5        32         32            5
2          1      4   94           5        32         32            5
3         11     22   33          11        11         11           11
4        111    222  333         111       111        111          111
   bidder_id  start  end  new_median  new_mean  new2_mean  new2_median  \
0          1      2    3           5        32         32            5
1          1      4    9           5        32         32            5
2          1      4   94           5        32         32            5
3         11     22   33          11        11         11           11
4        111    222  333         111       111        111          111

    new2_std
0  50.269275
1  50.269275
2  50.269275
3        NaN
4        NaN
   bidder_id  start  end  new_median  new_mean  new2_mean  new2_median  \
0          1      2    3           5        32         32            5
1          1      4    9           5        32         32            5
2          1      4   94           5        32         32            5
3         11     22   33          11        11         11           11
4        111    222  333         111       111        111          111

    new2_std  some_new
0  50.269275       NaN
1  50.269275  3.333333
2  50.269275       NaN
3        NaN       NaN
4        NaN       NaN

In [4]:
# feature importance for lgblight
{i: col for i, col in enumerate(zip(x.columns, gbm1.feature_importance(), gbm2.feature_importance()))}

NameError: name 'x' is not defined

In [10]:
# add value from previous row
def add_prev(df, field):
    #df[field + '_prev'] = pd.Series(np.append([np.nan], df[field].values[0:-1]), index=df.index)
    df[field + '_prev'] = df[field].shift()
    
x1 = np.array([[1,2,3],[1,4,9],[1,5,99],[11,22,33], [111,222,333]])
X1 = pd.DataFrame(data=x1, columns=['bidder_id', 'time', 'endt'])
print(X1.head())
add_prev(X1, 'bidder_id')
X1.head()

   bidder_id  time  endt
0          1     2     3
1          1     4     9
2          1     5    99
3         11    22    33
4        111   222   333

   bidder_id  time  endt  bidder_id_prev
0          1     2     3             NaN
1          1     4     9             1.0
2          1     5    99             1.0
3         11    22    33             1.0
4        111   222   333            11.0

In [27]:
x1 = np.array([[1,2,3],[1,4,9],[1,5,99],[11,22,33], [11,44,66], [111,222,333]])
X1 = pd.DataFrame(data=x1, columns=['bidder_id', 'time', 'endt'])
X1['bid_order'] = 1.0*np.arange(len(X1))/len(X1)
X1.head(10)

   bidder_id  time  endt  bid_order
0          1     2     3   0.000000
1          1     4     9   0.166667
2          1     5    99   0.333333
3         11    22    33   0.500000
4         11    44    66   0.666667
5        111   222   333   0.833333

In [25]:
np.arange(len(X1))

array([0, 1, 2, 3, 4, 5])

In [30]:
from contextlib import contextmanager
import time

@contextmanager
def timer(name):
    t0 = time.time()
    yield
    print('[{}] done in {:.0f} s'.format(name, time.time() - t0))

with timer('process train'):
    time.sleep(2.5)
    pass

[process train] done in 3 s

In [ ]:
from pandas_summary import DataFrameSummary

DataFrameSummary(df).summary()

In [ ]:
## get list of pandas dataframe columns based on data type

train.columns.to_series().groupby(train.dtypes).groups

In [ ]:
from sklearn.metrics import mean_squared_error

def MCRMSE(columns, test, pred):
    '''Multi-column RMSE.
    All columns should be numerical.
    '''
    return np.mean([mean_squared_error(test[col], pred[col]) for col in columns])

In [ ]:
# Keras:

# make layers trainable or not:
for layer in model.layers: layer.trainable=False
    
# remove the last layer:
model.pop()

# add a layer:
model.add(Dense(num_neurons, activation='softmax'))

In [ ]:
from itertools import chain
# 4 lists of 1000 elements
l1, l2, l3, l4 = [[*range(1000)] for _ in range(4)]

# unpacking into []
%timeit [*l1, *l2, *l3, *l4]
20 µs ± 18.6 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# using +    
%timeit l1 + l2 + l3 + l4
49.5 µs ± 90.6 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# using itertools.chain   
%timeit list(chain(l1, l2, l3, l4))
50.4 µs ± 12 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)